.intro {
  width: 1000px;
  padding: $paddingY;
  margin: 0 auto;
  @include flex(row, space-between, flex-start);
  article {
    flex: 0 0 45%;
    &:nth-child(1) {
      h4 {
        padding-top: 10px;
      }
    }
    &:nth-child(2) {
      p {
        &:first-child {
          padding-bottom: 40px;
        }
      }
    }
  }
}

.gallery {
  background-color: $blockGray;
  padding: $paddingY;
  text-align: center;
  .container {
    @include flex(row, space-between, center);
    padding-top: 100px;
    div {
      flex: 0 0 48%;
      box-shadow: 0 0 5px rgba($text, .3);
      background-color: $white;
      img {
        width: 100%;
        display: block;
      }
      h3 {
        text-transform: uppercase;
        padding: 50px 0;
        font-size: 1.4rem;
      }
    }
  }
  .buttons {
    padding-top: 70px;
    button {
      @include btn;
      &:nth-child(2) {
        margin-left: 20px;
        background-color: $buttonBlack;
        border-color: $buttonBlack;
        &:hover {
          background-color: $blackHover;
        }
        &:active {
          background-color: $blackActive;
        }
      }
    }
  }
}

.services {
  padding: $paddingY;
  h4 {
    padding-bottom: 50px;
  }
  article {
    @include flex(row, space-between, center);
    .service {
      flex: 0 0 47%;
      @include flex(row, space-between, flex-start);
      padding-top: 50px;
      .desc {
        flex: 0 0 64%;
        text-align: right;
        h5 {
          font-size: 1.2rem;
          text-transform: uppercase;
        }
        h6 {
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 400;
          opacity: .5;
          padding-top: 13px;
        }
        p {
          padding: 25px 0;
        }
      }
      .pic {
        flex: 0 0 25%;
        img {
          width: 100%;
          border-radius: 50%;
          border: 8px solid rgba($text, 0.15);
          display: block;
        }
      }
      &:nth-child(even) {
        .desc {
          order: 2;
          text-align: left;
        }
      }
    }
  }
}

.cta {
  @include backgroundImage((linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../img/banner.jpg)), top, cover, fixed);
  height: 500px;
  text-align: center;
  padding: $paddingY;
  h2 {
    color: $white;
  }
  h4 {
    color: $blockGray;
    padding: 1.4rem 0;
  }
  button {
    margin-top: 2.8rem;
    @include btn;
  }
}
