* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $text;
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  list-style: none;
}