@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #777777;
  font-family: "Roboto", serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

header {
  background-image: url(../img/header.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header nav {
  padding: 20px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  width: 100%;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header nav ul li a {
  color: #ffffff;
  margin: 0 20px;
  letter-spacing: 2px;
  text-shadow: 0 0 5px #161616;
}
header hgroup {
  position: absolute;
  top: 27%;
  text-align: center;
}
header hgroup h1 {
  font-size: 8rem;
  font-weight: 300;
  letter-spacing: 2px;
  color: #ffffff;
  text-shadow: 0 0 5px #161616;
}
header hgroup h5 {
  color: #ffffff;
  font-weight: 300;
  font-size: 1.3rem;
}