@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", serif;
  font-size: 18px;
  background-color: #f4f4f4;
  color: #848484;
  font-weight: 300;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

h2 {
  font-size: 2.6rem;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 400;
  margin: 50px 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1450px;
  margin: auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/banner.jpg);
  background-position: center;
  background-size: cover;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header hgroup {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header hgroup h1 {
  font-family: "Pacifico", serif;
  font-size: 6rem;
  color: #ffffff;
}
header hgroup .hrLine {
  background-color: #ffffff;
  height: 1px;
  margin: 10px auto 50px;
  width: 100%;
}
header hgroup p {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #cbcbcb;
  letter-spacing: 4px;
  margin: 0 25px;
}
header hgroup p a {
  color: #cbcbcb;
  text-decoration: underline;
}

.intro {
  background-color: #ffffff;
  padding: 100px 0;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.intro article {
  width: 44%;
  text-align: center;
}
.intro article i {
  border: 2px solid #666666;
  padding: 30px;
  border-radius: 50%;
  color: #666666;
  font-size: 2.4rem;
}
.intro article p {
  font-size: 1.4rem;
}
.intro article button {
  border: 2px solid #666666;
  border-radius: 5px;
  padding: 20px 40px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-top: 50px;
  background-color: transparent;
  color: #444444;
  cursor: pointer;
  transition: 0.3s ease;
}
.intro article button:hover {
  color: #EF6480;
  border-color: #EF6480;
}

.blog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.blog article {
  flex: 0 0 48%;
  margin-bottom: 50px;
  border-radius: 5px;
  text-align: center;
}
.blog article .featured-image {
  overflow: hidden;
  position: relative;
}
.blog article .featured-image a {
  display: block;
  transition: 0.5s ease;
}
.blog article .featured-image a:hover {
  transform: scale(1.1);
}
.blog article .featured-image a img {
  width: 100%;
  display: block;
}
.blog article .featured-image h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 2rem;
  font-weight: 400;
  text-shadow: 0 0 3px #000000;
  white-space: nowrap;
}
.blog article .text {
  background-color: #ffffff;
  padding: 75px 65px;
}
.blog article .text p {
  font-size: 1.4rem;
}
.blog article .text button {
  border: 2px solid #666666;
  border-radius: 5px;
  padding: 20px 40px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-top: 50px;
  background-color: transparent;
  color: #444444;
  cursor: pointer;
  transition: 0.3s ease;
}
.blog article .text button:hover {
  color: #EF6480;
  border-color: #EF6480;
}