* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $text;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 1.4;
  color: $headings;
}

h4 {
  font-size: 1.7rem;
  opacity: .5;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.5;
}

p {
  line-height: 2;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  transition: $transition;
}

li {
  list-style: none;
}