@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

// colors
$white: #ffffff;
$headings: #484848;
$text: #666666;
$blockGray: #f6f6f6;
$accent: #f32853;
$hover: #f44066;
$active: #f21040;
$buttonBlack: #323037;
$blackHover: #3e3c45;
$blackActive: #262429;




// fonts

$fontFamily: "Raleway", serif;
$fontSize: 16px;


// transition
$transition: .3s ease;