header {
  @include backgroundImage(url(../img/header.jpg), center, cover);
  height: 60vh;
  @include flex(column, space-between, center);
  position: relative;
  nav {
    padding: 20px 0;
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
    width: 100%;
    ul {
      @include flex(row, center, center);
      li {
        a {
          text-transform: uppercase;
          color: $white;
          margin: 0 20px;
          letter-spacing: 2px;
          text-shadow: 0 0 5px $primary;
        }
      }
    }
  }
  hgroup {
    position: absolute;
    top: 27%;
    text-align: center;
    h1 {
      font-size: 8rem;
      font-weight: 300;
      letter-spacing: 2px;
      color: $white;
      text-shadow: 0 0 5px $primary;
    }
    h5 {
      color: $white;
      font-weight: 300;
      font-size: 1.3rem;
    }
  }
}