* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fontFamily;
  font-size: $fontSize;
  background-color: $gray;
  color: $text;
  font-weight: 300;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  color: $hText;
}

h2 {
  font-size: 2.6rem;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 400;
  margin: 50px 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1450px;
  margin: auto;
}