@mixin backgroundImage($url, $position, $size) {
  background-image: $url;
  background-position: $position;
  background-size: $size;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin btn {
  border: 2px solid $darkGray;
  border-radius: 5px;
  padding: 20px 40px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-top: 50px;
  background-color: transparent;
  color: $hText;
  cursor: pointer;
  transition: $transition;
  &:hover {
    color: $primary;
    border-color: $primary;
  }
}