@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

// colors
$white: #ffffff;
$gray: #f4f4f4;
$lightGray: #cbcbcb;
$darkGray: #666666;
$text: #848484;
$hText: #444444;
$black: #000000;


// fonts
$fontFamily: "Source Sans 3", serif;
$hFontFamily: "Pacifico", serif;
$fontSize: 16px;

// paddings


// transitions

