@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", serif;
  font-size: 16px;
  color: #666666;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 1.4;
  color: #484848;
}

h4 {
  font-size: 1.7rem;
  opacity: 0.5;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.5;
}

p {
  line-height: 2;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease;
}

li {
  list-style: none;
}

.container {
  width: 1400px;
  margin: auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/banner.jpg);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  height: 800px;
}
header nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 3rem;
}
header nav div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
header nav div a {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.2rem;
}
header nav div span {
  text-transform: uppercase;
  margin-left: 5px;
  font-size: 1.2rem;
}
header nav ul li {
  display: inline-block;
  margin-left: 3rem;
}
header nav ul li a {
  color: #ffffff;
  opacity: 0.8;
  font-size: 1.2rem;
}
header nav ul li a:hover {
  opacity: 1;
}
header .title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  text-transform: uppercase;
  color: #ffffff;
  width: 600px;
  text-align: center;
  margin: 0 auto;
}
header .title h1 {
  font-size: 3.2rem;
}
header .title p {
  opacity: 0.6;
  text-transform: uppercase;
  padding: 3rem 0;
  line-height: 1.6;
  font-size: 1.4rem;
}
header .title button {
  border: 2px solid #f32853;
  border-radius: 5px;
  padding: 20px 40px;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #f32853;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease;
}
header .title button:hover {
  background-color: #f44066;
}
header .title button:active {
  background-color: #f21040;
}

.intro {
  width: 1000px;
  padding: 100px 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.intro article {
  flex: 0 0 45%;
}
.intro article:nth-child(1) h4 {
  padding-top: 10px;
}
.intro article:nth-child(2) p:first-child {
  padding-bottom: 40px;
}

.gallery {
  background-color: #f6f6f6;
  padding: 100px 0;
  text-align: center;
}
.gallery .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
}
.gallery .container div {
  flex: 0 0 48%;
  box-shadow: 0 0 5px rgba(102, 102, 102, 0.3);
  background-color: #ffffff;
}
.gallery .container div img {
  width: 100%;
  display: block;
}
.gallery .container div h3 {
  text-transform: uppercase;
  padding: 50px 0;
  font-size: 1.4rem;
}
.gallery .buttons {
  padding-top: 70px;
}
.gallery .buttons button {
  border: 2px solid #f32853;
  border-radius: 5px;
  padding: 20px 40px;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #f32853;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease;
}
.gallery .buttons button:hover {
  background-color: #f44066;
}
.gallery .buttons button:active {
  background-color: #f21040;
}
.gallery .buttons button:nth-child(2) {
  margin-left: 20px;
  background-color: #323037;
  border-color: #323037;
}
.gallery .buttons button:nth-child(2):hover {
  background-color: #3e3c45;
}
.gallery .buttons button:nth-child(2):active {
  background-color: #262429;
}

.services {
  padding: 100px 0;
}
.services h4 {
  padding-bottom: 50px;
}
.services article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.services article .service {
  flex: 0 0 47%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 50px;
}
.services article .service .desc {
  flex: 0 0 64%;
  text-align: right;
}
.services article .service .desc h5 {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.services article .service .desc h6 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  opacity: 0.5;
  padding-top: 13px;
}
.services article .service .desc p {
  padding: 25px 0;
}
.services article .service .pic {
  flex: 0 0 25%;
}
.services article .service .pic img {
  width: 100%;
  border-radius: 50%;
  border: 8px solid rgba(102, 102, 102, 0.15);
  display: block;
}
.services article .service:nth-child(even) .desc {
  order: 2;
  text-align: left;
}

.cta {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/banner.jpg);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  text-align: center;
  padding: 100px 0;
}
.cta h2 {
  color: #ffffff;
}
.cta h4 {
  color: #f6f6f6;
  padding: 1.4rem 0;
}
.cta button {
  margin-top: 2.8rem;
  border: 2px solid #f32853;
  border-radius: 5px;
  padding: 20px 40px;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #f32853;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease;
}
.cta button:hover {
  background-color: #f44066;
}
.cta button:active {
  background-color: #f21040;
}